.login {
    margin-top: 4rem;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(9, 75, 9);
    border-radius: 1rem;
    background-image:  linear-gradient(#ff960d, #ffd28e);
}

.entrada {
    display: inline-block;
}

.boton{
    margin-left: 80%;
    margin-right: 2%;
}

.deslogueo{
    background-image:linear-gradient(to bottom,#ff0000 0,#ff9500 100%) !important;
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}