.detalleHorario{
    background-image:  linear-gradient(#ff960d, #ffd28e);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 50px;
}