.input-label{
    margin-right: 2rem;
}

.form-check-input{
    margin-left: 20%;
}

.etiqueta-check{
    margin-right: 1rem;
}

.cuadro{
    background-image: linear-gradient(to bottom,#2cf4ea ,#008080  ) !important;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2%;
    padding-top: 1rem;
    margin-top: 2rem;
    border-radius: 50px;
}

.formul{
    background-image: linear-gradient(to bottom,#2cf4ea ,#008080  ) !important;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2%;
    padding-top: 1rem;
    margin-top: 2rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}