.Tarjeta{
    margin: 2rem;
    display: inline-block;
    flex-wrap: wrap;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.estiloTarjeta{
    width: 16rem;
    border-radius: 20px;
    background-image: linear-gradient(#ff960d, #ffd28e);
    border-style: 20px solid;
}